@font-face {
  font-family: "GloriaHallelujah-Regular";
  src: url("../fontes/GloriaHallelujah-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff1493;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 20px;
  margin-top: 0;
  width: 1000px;
  font-size: 30px;
  list-style: none;
}

header a {
  text-decoration: none;
  font-family: "GloriaHallelujah-Regular", sans-serif;
  padding: 0px 20px;
  color: aliceblue;
}

header a:hover {
  display: inline-block;
  background-color: aliceblue;
  color: #0000ff;
}

header img {
  width: 200px;
  height: auto;
  display: inline-block;
  border-radius: 105px;
  border: 6px blue solid;
  margin: 0px 20px;
}

body {
  background-image: url(../img/fundo.jpg); /* 1. Define a imagem de fundo */
  background-size: cover; /* 2. Redimensiona a imagem para cobrir todo o elemento */
  background-repeat: no-repeat; /* 3. Impede a repetição da imagem */
  background-position: center center; /* 4. Centraliza a imagem */
  min-height: 100vh; /* Opcional: garante que a imagem preencha a altura total da viewport */
}

section p {
  text-align: center;
  font-size: 50px;
  font-family: "GloriaHallelujah-Regular", sans-serif;
  color: rgb(17, 0, 255);
  font-weight: 600;
  font-style: italic;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1920px) {

}
