@font-face {
  font-family: "GloriaHallelujah-Regular";
  src: url("../fontes/GloriaHallelujah-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: deeppink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.menu {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 48px 20px;
  margin-top: 0;
  width: 1000px;
  font-size: 30px;
  list-style: none;
}

header a {
  text-decoration: none;
  font-family: "GloriaHallelujah-Regular", sans-serif;
  padding: 0px 20px;
  color: aliceblue;
}

header a:hover {
  display: inline-block;
  background-color: aliceblue;
  color: blue;
}

header img {
  width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 105px;
  border: 6px blue solid;
  margin: 10px 20px;
}

.menu-mobile {
  border-radius: 0px;
  border: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 25px;
  margin-left: 200px;
}

body {
  background-image: url(../img/fundo.jpg); /* 1. Define a imagem de fundo */
  background-size: cover; /* 2. Redimensiona a imagem para cobrir todo o elemento */
  background-repeat: no-repeat; /* 3. Impede a repetição da imagem */
  background-position: center center; /* 4. Centraliza a imagem */
  min-height: 100vh; /* Opcional: garante que a imagem preencha a altura total da viewport */
}

section p {
  text-align: center;
  font-size: 30px;
  font-family: "GloriaHallelujah-Regular", sans-serif;
  color: rgb(17, 0, 255);
  font-weight: 600;
  font-style: italic;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin-top: 30px;
    width: 100%;
    font-size: 20px;
    list-style: none;
  }

  .menu-mobile {
    display: none;
  }

  header {
    height: 150px;
  }

  header img {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 105px;
    border: 6px blue solid;
    margin: 20px 20px;
  }

  header a {
    text-decoration: none;
    font-family: "GloriaHallelujah-Regular", sans-serif;
    padding: 0px 20px;
    color: aliceblue;
  }

  header a:hover {
    color: blue;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 38px;
    margin-top: 10px;
    width: 100%;
    font-size: 30px;
    list-style: none;
  }

  .menu-mobile {
    display: none;
  }

  header {
    height: 200px;
  }

  header img {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 105px;
    border: 6px blue solid;
    margin: 0px 20px;
  }

  section p {
    text-align: center;
    font-size: 40px;
    font-family: "GloriaHallelujah-Regular", sans-serif;
    color: rgb(17, 0, 255);
    font-weight: 600;
    font-style: italic;
  }
}
